.aboutUs h2 {
    padding-bottom: 30px;
}

.aboutUs h3 {
    font-size: 25px;
    padding: 10px 0;
}

.aboutUs p {
    line-height: 1.6;
    padding: 10px 0;
    font-size: 15px;
}

.aboutUs li {
    padding: 10px 0;
}

.aboutUs li::before {
    content: "\f111";
    padding-right: 10px;
    font-family: "fontAwesome";

}

#timelineSnap{
    border: 1px solid #000;
    display: inline-block;
}
#timelineSnap img{
    width: 50px;
}

#shujiNakamura{
    width: 20%;
}