/* connect with us section start here========================================= */
.connectWithUs {
    padding: 80px 0;
    background-color: #000;
    color: #fff;
    line-height: 1.6;
}

.connectWithUsText h2 {
    font-size: 50px;
}

.connectWithUs .connectWithUsText h3 {
    font-size: 40px;
}

.connectWithUs .connectWithUsText span {
    font-size: 30px;
}

.connectWithUs .connectWithUsText p {
    font-size: 20px;
    padding: 10px 0;
}

.connectWithUsText li {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 20px;
}

.connectWithUs .wrapper {
    display: flex;
}

.connectWithUs .connectWithUsForm {
    width: 40%;
    padding: 30px;
    margin: 20px;
    border: 1px solid #fff;
    background-color: #fff;
    color: #000;
    display: grid;
}

.connectWithUs .connectWithUsForm div {
    display: grid;
    align-items: center;
    position: relative;
}

.connectWithUs .connectWithUsForm h3 {
    font-size: 30px;
    align-items: center;
    line-height: 0;
}

.connectWithUs .connectWithUsForm div input {
    padding: 10px 40px;
}

.connectWithUs .connectWithUsForm div::before {
    position: absolute;
    font-family: "fontAwesome";
    text-indent: 0;
    padding: 10px;
    font-size: 20px;
}

.connectWithUs .connectWithUsForm .name::before {
    content: "\f007";
}

.connectWithUs .connectWithUsForm .company::before {
    content: "\f0f7";
}

.connectWithUs .connectWithUsForm .email::before {
    content: "\f0e0";
}

.connectWithUs .connectWithUsForm .mobile::before {
    content: "\f098";
}

.connectWithUs .connectWithUsForm .specifyQueries::before {
    content: "\f059";
}

.connectWithUsForm span,
.connectWithUs .connectWithUsForm div {
    font-size: 12px;
    align-self: center;
}

#submit {
    background-color: #005c00;
    border: transparent;
    color: #fff;
    font-weight: bold;
}

#submit:hover {
    background-color: #008000;
}

/* connect with us section end here========================================= */
@media screen and (max-width: 1115px) {
    .connectWithUs .connectWithUsForm {
        width: 70%;
    }
    .connectWithUs .connectWithUsText h3 {
        font-size: 30px;
    }
}

@media screen and (max-width: 995px) {
    .connectWithUs .wrapper {
        flex-direction: column;
    }
    .connectWithUs .connectWithUsForm h3 {
        line-height: 1.6;
    }
    .connectWithUs .connectWithUsText h3 {
        font-size: 40px;
        line-height: 1.3;
    }
    .connectWithUs .connectWithUsText p {
        padding: 5px 0;
    }
    .connectWithUs .connectWithUsForm {
        width: 100%;
        margin:10px 0;
    }
    .connectWithUs .connectWithUsForm div input {
        margin: 10px 0;
    }

    #submit {
        padding: 10px 0;
    }
}

@media screen and (max-width: 786px) {

    .connectWithUs .connectWithUsText h3 {
        font-size: 30px;
    }

}

@media screen and (max-width: 580px) {
    .connectWithUs .connectWithUsText h3 {
        font-size: 20px;
    }
    .connectWithUsText li,
    .connectWithUs .connectWithUsText p {
        font-size: 15px;
}}