/* exhibitor Profile start here================================= */

.exhibitorProfile .exhibitorProfileInfo h3 {
    padding: 20px;
    margin: 10px;
    width: 280px;
    justify-content: space-between;
}

.exhibitorProfile .exhibitorProfileInfo div {
    align-items: center;
    display: flex;

}

.exhibitorProfile .exhibitorProfileInfo div::before {
    content: "\f005";
    color: green;
    font-family: "fontAwesome";
}

.exhibitorProfile,
.exhibitorHalls {
    padding: 80px 0;
}

.exhibitorProfile {
    background-color: #000;
    color: #fff;
}

.exhibitorProfile h2 {
    justify-content: center;
    font-size: 40px;
    padding-bottom: 30px;
}

.exhibitorProfile .exhibitorProfileInfo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

/* exhibitor Profile end here================================= */


/* exhibitor halls start===================================== css */

.exhibitorHalls h1 {
    font-size: 50px;
}

.exhibitorHalls h1,
.exhibitorHalls h2 {
    justify-content: center;
}

.cidcoExhibitorHalls img,
.cidcoHallDefine img {
    width: 100%;
}

.cidcoHallDefine {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 50px;
}

.cidcoHallDefine li {
    font-size: 20px;
    padding: 5px 0;
}

.cidcoHallDefine li::before {
    content: "\f111";
    padding-right: 20px;
    font-family: "fontAwesome";
    font-size: 15px;
}

.cidcoHallDefine figure {
    padding: 10px;
    width: 30%;
}


/* exhibitor halls end===================================== css */





/* exhibitor start section ========================= */
.exhibitor h1 {
    font-size: 50px;
    animation: effect 2s linear infinite;
}

@keyframes effect {
    0% {
        color: darkcyan;
    }

    100% {
        color: darkblue;
    }
}

.exhibitor h2 {
    font-size: 40px;
}

.exhibitor p {
    font-size: 20px;
    padding: 5px 0;
}

.exhibitor .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    line-height: 1.6;
}

.exhibitor .exhibitorHeading {
    width: 100% !important;
}

.exhibitor .exhibitorForm {
    width: 40%;
    padding: 20px 30px;
    margin: 20px;
    border: 1px solid #000;
}

.exhibitor .exhibitorForm h2 {
    font-size: 20px;
    padding-bottom: 10px;
}

.exhibitor .exhibitorForm div,
.exhibitor .exhibitorForm form {
    display: grid;
    align-items: center;
}


.exhibitor .exhibitorForm div::before {
    position: absolute;
    font-family: "fontAwesome";
    text-indent: 0;
    padding: 10px;
    font-size: 18px;
}

.exhibitor .exhibitorForm .exhibitorName::before {
    content: "\f007";
}


.exhibitor .exhibitorForm .exhibitorCompany::before {
    content: "\f0f7";
}

.exhibitor .exhibitorForm .exhibitorEmail::before {
    content: "\f0e0";
}

.exhibitor .exhibitorForm .exhibitorMobile::before {
    content: "\f098";
}

.exhibitor .exhibitorForm .boothChoice::before {
    content: "\f00a";
}

.exhibitor form input {
    padding: 10px 40px;
    margin: 10px 0;
}

.exhibitor .exhibitorForm span,
.exhibitor .exhibitorForm input {
    font-size: 12px;
    align-self: center;
}

#exhibitorSubmit {
    background-color: #005c00;
    border: transparent;
    color: #fff;
    padding: 10px 0;
    font-weight: bold;
    font-size: 18px;
}

#exhibitorSubmit:hover {
    background-color: #008000;
}

/* exhibitor here section ========================== */

@media screen and (max-width: 1115px) {
    .cidcoHallDefine h3 {
        font-size: 30px;
    }

    .exhibitor .wrapper {
        flex-direction: column;
    }
}

@media screen and (max-width: 900px) {
    .exhibitor .exhibitorForm {
        width: 100% !important;
        margin: 10px 0;
    }
}


@media screen and (max-width: 786px) {
    .exhibitor h1 {
        font-size: 35px;
    }
    .exhibitor h2 {
        font-size: 25px;
    }
    .exhibitor p {
        font-size: 15px;
    }
}

@media screen and (max-width: 580px) {}