/* exhibitor start section ========================= */
.exhibitor h1 {
    font-size: 50px;
    animation: effect 2s linear infinite;
}

@keyframes effect {
    0% {
        color: darkcyan;
    }

    100% {
        color: darkblue;
    }
}

.exhibitor h2 {
    font-size: 40px;
}

.exhibitor p {
    font-size: 20px;
    padding: 5px 0;
}

.exhibitor .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    line-height: 1.6;
}
.exhibitor .exhibitorHeading{
    width: 100% !important;
}

.exhibitor .exhibitorForm {
    width: 40%;
    padding:20px 30px;
    margin: 20px;
    border: 1px solid #000;
}
.exhibitor .exhibitorForm h2 {
    font-size: 20px;
    padding-bottom: 10px;
}
.exhibitor .exhibitorForm form {
    display: grid;
}

.exhibitor form input {
    padding: 5px;
    margin: 10px 0;
}

.exhibitor .exhibitorForm span,
.exhibitor .exhibitorForm label,
.exhibitor .exhibitorForm input {
    font-size: 12px;
    align-self: center;
}

#exhibitorSubmit{
    background-color: #005c00;
    border: transparent;
    color: #fff;
    padding: 10px 0;
    font-weight: bold;
    font-size: 18px;
}
#exhibitorSubmit:hover{
    background-color: #008000;
}
/* exhibitor here section ========================== */

@media screen and (max-width: 1115px) {
    .exhibitor .wrapper {
        flex-direction: column;
    }
    .exhibitor .exhibitorHeading,
    .exhibitor .exhibitorForm {
        margin:10px 0;
        padding: 10px;
    }
}

@media screen and (max-width: 786px) {
    .exhibitor h2 {
        font-size: 25px;
    }

    .exhibitor p {
        font-size: 15px;
    }
}

@media screen and (max-width: 580px) {



    .exhibitor h1 {
        font-size: 20px;
    }

    .exhibitor h2 {
        font-size: 18px;
    }

    .exhibitor p {
        font-size: 12px;
    }
}