/* footer end here======================= */
footer {
    border-top: 1px solid #000;
    color: #fff;
}

.upperFooter {
    padding: 80px 0;
    color: #000;
}

.upperFooter .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.upperFooter ul {
    line-height: 2;
    padding: 10px;
}

.upperFooter a {
    color: #333;
    font-weight: bold;
    letter-spacing: 1px;
    display: inline-block;
}

.upperFooter a:hover {
    color: #002aff;
}

.upperFooter .socialMediaLinks {
    width: 100%;
    display: flex;
}

.upperFooter .socialMediaLinks a {
    text-indent: -9999px;
    display: flex !important;
    flex-basis: 10%;
}

.upperFooter .socialMediaLinks a::before {
    font-family: "fontAwesome";
    text-indent: 0;
    font-size: 20px;
    color: #fff;
    padding: 0 10px;
    border-radius: 50%;
    font-weight: lighter;
}

.upperFooter .socialMediaLinks #whatsapp::before {
    background-color: #008000;
    content: "\f232";
}

.upperFooter .socialMediaLinks #facebook::before {
    background-color: #1877F2;
    padding: 0 15px;
    content: "\f09a";
}

.upperFooter .socialMediaLinks #instagram::before {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    content: "\f16d";
}

.upperFooter .socialMediaLinks #youtube::before {
    background-color: #ff0000;
    content: "\f16a";
}

.upperFooter figure {
    flex-direction: column;
}

.upperFooter figure figcaption {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: bold;
}

.lowerFooter {
    background-color: #000;
    padding: 20px 0;
    text-align: center;
}

.upperFooter b{
    font-weight: bolder;
    color: #000;
}

/* footer end here======================= */
@media screen and (max-width: 785px){
    .upperFooter a {
        font-size: 15px;
    }
}

@media screen and (max-width: 580px) {
    .upperFooter .wrapper {
        justify-content: left;
    }

    .upperFooter .wrapper ul {
        margin: 10px;
    }

}

@media screen and (max-width: 320px) {

    footer {
        font-size: 12px;
    }

    .upperFooter #infocastLogo {
        width: 100%;
    }
}