.infocastHeadingLogo h1{
    justify-content: center;
}
.infocastHeadingLogo h1 a{
    flex-direction: column;
}
.infocastHeadingLogo h1 img{
    width: 100% !important;
}

.infocastDetails .infocastData{
    display: flex;
    padding-top: 50px;
}

.doubleSpreadAd,
.coverImage{
    padding: 10px 0;
    width: 90%;
}
.doubleSpreadAd img,
.coverImage img{
    width: 100%;
    border: 1px solid #000;
}

.infocastLearnMore h2{
    font-size: 60px;
}

.infocastLearnMore p{
    font-size: 20px;
    padding: 10px 0;
}

@media screen and (max-width: 1115px){
    .infocastLearnMore h2{
        font-size: 50px;
    }
    .infocastLearnMore p{
        font-size: 15px;
    }
}

@media screen and (max-width: 995px) {
    .infocastLearnMore h2{
        font-size: 40px;
    }
}

@media screen and (max-width: 786px){
    .infocastDetails .infocastData{
        flex-direction: column-reverse;
    }

}

@media screen and (max-width: 460px) {
    .infocastLearnMore h2{
        font-size: 30px;
    }
}