.ourTeam {
    padding: 80px 0;
    line-height: 1.5;
}

.team .managingDirector,
.team .director,
.team .exhibitionDirector,
.team .businessDevelopmentManager,
.team .accountant,
.team .webDeveloper {

    padding: 30px 0;
    display: flex;
}

.team figure {
    float: left;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 20px;
}

.team figure img,
.team figcaption {
    padding: 10px;
    font-weight: bold;
    width: 250px;
}

.ourTeam h3 {
    font-size: 30px;
}

.ourTeam P {
    font-size: 15px;
    padding: 5px 0;
}

#timelineSnap {
    display: inline-block;
}

@media screen and (max-width: 995px) {
    .ourTeam P {
        font-size: 12px;
    }
}

@media screen and (max-width: 786px) {
    .ourTeam P {
        font-size: 12px;
    }

    .team .managingDirector,
    .team .director,
    .team .exhibitionDirector,
    .team .businessDevelopmentManager,
    .team .accountant,
    .team .webDeveloper {

        flex-direction: column;
    }

    .team figure img,
    .team figcaption {
        width: 300px;
    }
}

@media screen and (max-width: 580px) {
    .ourTeam h3 {
        font-size: 20px;
    }

    .team figure img,
    .team figcaption {
        width: 100%;
    }
}