* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* wrapper============================== */
.wrapper {
  max-width: 1365px;
  width: 90%;
  margin: 0 auto;
}

/* similar text============================ */
figure,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


/* banner start here================= */
.banner {
  position: relative;
}

.banner #paraBanner {
  width: 100%;
  filter: brightness(50%);
}

.banner .bannerText {
  position: absolute;
  line-height: 1.6;
  top: 20%;
}

.banner .bannerText h2,
.banner .bannerText ul {
  font-size: 40px;
  color: #fff;
}


.banner .bannerText a {
  color: #000;
  font-size: 15px;
  border: 1px solid transparent;
  background-color: #fff;
  padding: 10px;
  margin: 15px 0;
  width: 30%;
  justify-content: center;
  transition: 2s;
  border-radius: 10px;
}

.banner .bannerText a:hover {
  width: 35%;
  border-radius: 10px 10px 50px 10px;
}

/* banner end here================= */

/* participation start here==================== */
.participation {
  text-align: center;
  padding: 80px 0;
}

.participation h3 {
  font-size: 35px;
  justify-content: center;
}

.participation p {
  padding: 10px 0 50px 0;
  font-size: 20px;
}

.participation .participateBlog {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.participation .participateBlog figure {
  width: 250px;
  margin: 10px;
  border: 1px solid #000;

}

.participation .participateBlog figcaption {
  padding: 10px 0;
  color: black;
  font-weight: bold;
}

.participation .participateBlog a {
  flex-direction: column;
  width: 100%;
}

.participation .participateBlog a img {
  height: 30vh;
}



.participation .overview {
  margin-top: 50px;
  padding: 50px 0;
  background-color: #102866;
  color: #fff;
  border-radius: 50px;
  text-align: center;
}

.participation .overview h4 {
  font-size: 25px;
  justify-content: center;
}

.participation .overviewList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}

.participation .overviewList ul {
  line-height: 1.6;
  margin: 10px;
}

.participation .overviewList li {
  padding: 5px 10px;

}

.participation .overviewList li:first-child {
  font-size: 20px;
  color: yellow;
}

/* participation end here==================== */

/* footer end here======================= */
footer {
  border-top: 1px solid #000;
  color: #fff;
  text-align: center;
}

.upperFooter {
  padding: 80px 0;
  color: #000;
}

.upperFooter .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.upperFooter ul {
  line-height: 2;
}

.upperFooter a {
  color: #000;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 1s;
}

.upperFooter a:hover {
  color: #0008ff;
  text-decoration-color: currentcolor;
}

.lowerFooter {
  background-color: #000;

  padding: 10px 0;

}

/* footer end here======================= */



/* responsive start here========================= */
@media screen and (max-width: 1115px) {

  .banner .bannerText {
    top: 25%;
  }

  .banner .bannerText h2,
  .banner .bannerText ul {
    font-size: 30px;
  }
}

@media screen and (max-width: 995px) {

  .banner #paraBanner {
    height: 500px !important;
  }

  .banner .bannerText {
    top: 20%;
  }
}

@media screen and (max-width: 786px) {
  .banner .bannerText a {
    width: 40%;
  }

  .participation h3 {
    font-size: 25px;
  }

  .participation .participateBlog figure {
    width: 200px;
  }

  .participation .overview h4 {
    font-size: 20px;
  }

}

@media screen and (max-width: 580px) {

  .banner #paraBanner {
    height: 300px !important;
  }

  .banner .bannerText {
    top: 10%;
  }

  .banner .bannerText h2,
  .banner .bannerText ul {
    font-size: 20px;
  }

  .banner .bannerText p {
    font-size: 12px;
  }

  .banner .bannerText a {
    width: 60%;
    font-size: 12px;
  }

  .banner .bannerText a:hover {
    width: 80%;
  }

  .upperFooter .wrapper {
    justify-content: left;
  }

  .upperFooter .wrapper ul {
    margin: 10px;
  }

  .participation .overviewList li:first-child,
  .participation .overview h4 {
    font-size: 15px;
  }

  .participation .overviewList {
    flex-direction: column;
  }

  .participation .overview {
    padding: 20px !important;
  }

}

@media screen and (max-width: 320px) {

  footer {
    font-size: 12px;
  }

  .banner #paraBanner {
    height: 400px !important;
  }

  .participation h3 {
    font-size: 20px;
  }

  .participation p {
    font-size: 15px;
  }

  .participation .participateBlog figure {
    width: 80px;
  }

  .participation .participateBlog figcaption {
    font-size: 10px;
  }

  .participation .participateBlog a img {
    height: 15vh;
  }

  .upperFooter #infocastLogo {
    width: 100%;
  }
}