* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* wrapper============================== */
.wrapper {
  max-width: 1365px;
  width: 90%;
  margin: 0 auto;
}

/* similar text============================ */
figure,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


/* banner start here================= */
.banner {
  position: relative;
}

.banner #paraBanner {
  width: 100%;
  filter: brightness(50%);
}

.banner .bannerText {
  position: absolute;
  line-height: 1.3;
  top: 20%;
}

.banner .bannerText h2,
.banner .bannerText ul {
  font-size: 40px;
  color: #fff;
  display: block;

}

.banner .bannerText h2 p{
  padding: 50px 0;
}


.banner .bannerText a {
  color: #000;
  font-size: 20px;
  border: 1px solid transparent;
  background-color: #fff;
  padding: 10px;
  margin: 15px 0;
  width: 30%;
  justify-content: center;
  transition: 2s;
  border-radius: 10px;
  font-weight: bold;
}

.banner .bannerText a:hover {
  width: 35%;
  border-radius: 10px 10px 50px 10px;
}

/* banner end here================= */

/* participation start here==================== */
.participation,
.infocast {
  text-align: center;
  padding: 80px 0;
  border-top: 1px solid #000;
}

.participation h3,
.infocast h3 {
  font-size: 35px;
  justify-content: center;
}

.participation p {
  padding: 10px 0 50px 0;
  font-size: 30px;
}

.participation #paraBlackLogo {
  width: 30%;
}

.participation .participateBlog {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.participation .participateBlog li {
  margin: 10px 0;


}

.participation .participateBlog a {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  width: 250px;
  height: 150px;
  background-color: #102866bc;
  align-items: center;
  justify-content: center;
}

.participation .participateBlog a:hover {
  background-color: #102866df;
}

/* .participation .participateBlog figure {
  width: 250px;
  margin: 10px;
  border: 1px solid #000;
} */

/* .participation .participateBlog figcaption {
  padding: 10px 0;
  color: black;
  font-weight: bold;
} */

/* .participation .participateBlog a {
  flex-direction: column;
  width: 100%;
} */

/* .participation .participateBlog a img {
  height: 30vh;
} */

.participation .overview {
  margin-top: 50px;
  padding: 30px 0;
  background-color: #102866;
  color: #fff;
  border-radius: 50px;
  text-align: center;
}

.participation .overview h4 {
  font-size: 25px;
  justify-content: center;
}

.participation .overviewList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}

.participation .overviewList ul {
  line-height: 1.6;
  margin: 10px;
}

.participation .overviewList li {
  padding: 5px 10px;
}

.participation .overviewList li:first-child {
  font-size: 20px;
  color: yellow;
}

/* participation end here==================== */

/* infocast section here============================= */
.infocast {
  padding: 80px 150px;
}

.infocast #learnMore,
.infocast figure {
  justify-content: center;
}

.infocast span {
  font-size: 20px;
  padding: 10px 0;
  font-weight: bold;
  display: inline-block;
  border-bottom: 2px solid #ff0000;
}

.infocast h3 {
  padding: 20px 0;
}

.infocast p {
  line-height: 1.4;
}

.infocast #learnMore,
.upcomingShow .showText a {
  color: #fff;
  background-color: #ff0000ff;
  margin-top: 10px;
  padding: 10px 30px;
  display: inline-flex;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 1s;
  font-size: 20px;
}

.infocast #learnMore:hover,
.upcomingShow .showText a:hover {
  border-radius: 20px;
}

/* infocast section here============================= */

/* upcoming show start here================================== */
.upcomingShow {
  text-align: center;
  background-color: #000;
  padding: 80px 0;
  line-height: 1.6;
}

.upcomingShow .showHeading h3 {
  color: #fff;
  font-size: 30px;
  padding-bottom: 30px;
}

.upcomingShow .showHeading h3,
.upcomingShow .showText a,
.upcomingShow .showText h4 {
  justify-content: center;
}

.upcomingShow .showText ul {
  display: flex;
  justify-content: space-evenly;
}

.upcomingShow .showText li {
  padding: 10px;
  width: 40%;
  margin: 10px;
  background-color: #fff;
}

.upcomingShow .showText span {
  display: block;
}

.upcomingShow .showText ul img {
  width: 50%;
}

.upcomingShow .showText h4 {
  font-size: 30px;
}

/* upcoming show end here==================================== */

/* <!-- why exhibit with us? section start here==================================================================== --> */

.joinPARA {
  padding: 80px 20px;
  /* text-align: center; */
  line-height: 1.6;
}

.joinPARA .joinPARAHeading h3 {
  justify-content: center;
  padding-bottom: 20px;
  font-size: 35px;
}

.joinPARA .joinPARAList {
  display: flex;
  align-items: center;
}
.joinPARA .joinPARAList div{
  margin:0 20px;

}
.joinPARA .joinPARAList h4{
  font-size: 25px;
}

.joinPARA .joinPARAList p{
  padding-bottom: 10px;
}
/* .exhibitWithUs .exhibitList ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.exhibitWithUs .exhibitList li {
  padding: 10px;
  margin: 10px;
  width: 300px;
}

.exhibitWithUs .exhibitList h4 {
  padding-bottom: 20px;
  font-size: 25px;
}

.exhibitWithUs .exhibitList p {
  line-height: 1.4;
} */

/* <!-- why exhibit with us? section start here==================================================================== --> */

/* chat with us section start here========================================= */
.chatWithUs{
  padding: 80px 0;
  background-color: #000;
  color: #fff;
  line-height: 1.6;
}
.chatWithUs .chatWithUsText span{
  font-size: 30px;
}
.chatWithUs .chatWithUsText h3{
  font-size: 50px;
}
.chatWithUs .chatWithUsText p{
  font-size: 20px;
}
.chatWithUs .wrapper{
  display: flex;
}

.chatWithUs .chatWithUsForm {
  width: 100%;
  padding: 30px;
  margin: 20px;
  border: 1px solid #fff;
  background-color: #fff;
  color: #000;
  display: grid;
}

.chatWithUs .chatWithUsForm h3{
  font-size: 30px;
}

.chatWithUs .chatWithUsForm input {
  padding: 10px;
  margin: 10px 0;
}

/* chat with us section end here========================================= */




/* responsive start here========================= */
@media screen and (max-width: 1115px) {

  .banner .bannerText {
    top: 25%;
  }

  .banner .bannerText h2,
  .banner .bannerText ul {
    font-size: 30px;
  }

  .infocast {
    padding: 80px 0;
  }
}

@media screen and (max-width: 995px) {
  .banner #paraBanner {
    height: 500px !important;
  }

  .banner .bannerText {
    top: 20%;
  }
}

@media screen and (max-width: 786px) {
  .banner .bannerText {
    top: 10%;
  }

  .banner .bannerText a {
    width: 40%;
  }

  .infocast h3,
  .participation h3 {
    font-size: 25px;
  }

  /* .participation .participateBlog figure {
    width: 200px;
  } */

  .participation .overview h4 {
    font-size: 20px;
  }
}

@media screen and (max-width: 580px) {
  .banner #paraBanner {
    height: 400px !important;
  }



  .banner .bannerText h2,
  .banner .bannerText ul {
    font-size: 20px;
  }

  .banner .bannerText h2 p{
    padding: 30px 0;
  }

  .banner .bannerText a {
    width: 60%;
    font-size: 12px;
  }

  .banner .bannerText a:hover {
    width: 80%;
  }
  
  .participation .overviewList li:first-child,
  .participation .overview h4 {
    font-size: 15px;
  }

  .participation .overviewList {
    flex-direction: column;
  }

  .participation .overview {
    padding: 20px !important;
  }

  .participation .participateBlog a {
    width: 150px;
  }

  .participation .participateBlog a {
    font-size: 18px;
  }

  .infocast span,
  .infocast p {
    font-size: 15px;
  }

  .infocast h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {



  /* .banner #paraBanner {
    height: 400px !important;
  } */

  .participation h3 {
    font-size: 20px;
  }

  .participation p {
    font-size: 15px;
  }

  /* .participation .participateBlog figure {
    width: 80px;
  } */

  /* .participation .participateBlog figcaption {
    font-size: 10px;
  } */

  /* .participation .participateBlog a img {
    height: 15vh;
  } */

  .participation .participateBlog a {
    width: 100px;
  }

  .participation .participateBlog a {
    font-size: 15px;
  }

}

@media screen and (max-width: 285px) {



  .banner #paraBanner {
    height: 450px !important;
  }}