* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* wrapper============================== */
.wrapper {
  max-width: 1365px;
  width: 90%;
  margin: 0 auto;
}

/* similar text============================ */
figure,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


/* banner start here================= */
.banner {
  position: relative;
}

.banner #paraBanner {
  width: 100%;
  filter: brightness(25%);
  opacity: 0.99;
}

.banner .bannerText {
  position: absolute;
  line-height: 1.3;
  top: 10%;
}

.banner .bannerText h2,
.banner .bannerText ul {
  font-size: 40px;
  color: #fff;
  display: block;

}

.banner .bannerText h2 p {
  padding: 50px 0;
}


.banner .bannerText a {
  color: #000;
  font-size: 20px;
  border: 1px solid transparent;
  background-color: #fff;
  padding: 10px;
  margin: 15px 0;
  width: 30%;
  justify-content: center;
  transition: 2s;
  border-radius: 10px;
  font-weight: bold;
}

.banner .bannerText a:hover {
  width: 35%;
  border-radius: 10px 10px 50px 10px;
}

/* banner end here================= */

/* participation start here==================== */

/* .infocast, */
.participation {
  text-align: center;
  padding: 80px 0;
}

.participation h3,
.infocast h3 {
  font-size: 35px;
  justify-content: center;
}

.participation p {
  padding: 10px 0 50px 0;
  font-size: 30px;
}

.participation #paraBlackLogo {
  width: 300px;
}

.participation .participateBlog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.participation .participateBlog li {
  margin: 10px 0;


}

.participation .participateBlog a {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  width: 250px;
  height: 150px;
  background-color: #102866df;
  align-items: center;
  justify-content: center;
  /* border-radius: 40px 0; */
}

.participation .participateBlog a:hover {
  background-color: #102866;
}


/* overview para tech expo 2025 */
.overviewParaTech {
  background-color: #000;
  text-align: center;
}

/* Marquee styles */
.overviewParaTech .overview {
  padding: 30px 0;
  color: #fff;
}

.overviewParaTech .overview h4 {
  font-size: 25px;
  padding-bottom: 30px;
  justify-content: center;
}

.marquee {
  --gap: 1rem;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll 30s linear infinite;
}

.marquee__content li {
  padding-bottom: 10px;
}

.marquee__content li:first-child {
  color: #ffff00;
  font-size: 20px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

/* Pause animation when reduced-motion is set */
@media (prefers-reduced-motion: reduce) {
  .marquee__content {
    animation-play-state: paused !important;
  }
}

.marquee--hover-pause:hover .marquee__content {
  animation-play-state: paused;
}

.overviewParaTech .overview p {
  text-align: right;
  font-size: 30px;
  padding-top: 10px;
}

/* participation end here==================== */



/* infocast section here============================= */
.infocast {
  padding: 80px 0;
}

.infocast span {
  font-size: 20px;
  padding: 10px 0;
  font-weight: bold;
  display: inline-block;
  border-bottom: 2px solid #ff0000;
}

.infocast h3 {
  padding: 20px 0;
}

.infocast p {
  line-height: 1.4;
}

.infocast #learnMore,
.upcomingShow .showText a {
  color: #fff;
  background-color: #ff0000ff;
  margin-top: 10px;
  padding: 10px 30px;
  display: inline-flex;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 1s;
  font-size: 20px;

}

.infocast #learnMore:hover,
.upcomingShow .showText a:hover {
  border-radius: 20px;
}

/* infocast section here============================= */

/* upcoming show start here================================== */
.upcomingShow {
  text-align: center;
  background-color: #000;
  padding: 80px 0;
  line-height: 1.6;
}

.upcomingShow .showHeading h3 {
  color: #fff;
  font-size: 30px;
  padding-bottom: 30px;
}

.upcomingShow .showHeading h3,
.upcomingShow .showText a,
.upcomingShow .showText h4 {
  justify-content: center;
  border-radius: 10px;

}

.upcomingShow .showText ul {
  display: flex;
  justify-content: space-evenly;
}

.upcomingShow .showText li {
  padding: 10px;
  width: 40%;
  margin: 10px;
  background-color: #fff;
  /* border-radius: 100px 0; */

}

.upcomingShow .showText span {
  display: block;
}

.upcomingShow .showText ul img {
  width: 50%;
}

.upcomingShow .showText h4 {
  font-size: 30px;
}

/* upcoming show end here==================================== */

/* <!-- why exhibit with us? section start here==================================================================== --> */

.joinPARA {
  padding: 80px 20px;
  line-height: 1.6;
}

.joinPARA .joinPARAHeading h3 {
  justify-content: center;
  padding-bottom: 20px;
  font-size: 35px;
  text-align: center;
}

.joinPARA .joinPARAList {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.joinPARA .joinPARAList div {
  margin: 0 20px;

}

.joinPARA .joinPARAList h4 {
  font-size: 25px;
}

.joinPARA .joinPARAList p {
  padding-bottom: 10px;
}


/* <!-- why exhibit with us? section start here==================================================================== --> */






/* responsive start here========================= */
@media screen and (max-width: 1115px) {

  .banner .bannerText h2,
  .banner .bannerText ul {
    font-size: 30px;
  }

  .infocast {
    padding: 80px 0;
  }

  .participation .participateBlog a {
    width: 200px;
    padding: 20px;
  }

  .joinPARA .joinPARAList div {
    margin: 0;
    width: 49%;
  }

  .joinPARA {
    padding: 80px 0;
  }

}

@media screen and (max-width: 995px) {
  .banner #paraBanner {
    height: 500px !important;
  }

  .participation .participateBlog a {
    width: 400px;
  }

  .joinPARA .joinPARAList {
    flex-direction: column;
  }

  .joinPARA .joinPARAList div {
    width: 100%;
    /* text-align: center; */
    align-items: center;
  }

  .joinPARA .joinPARAHeading h3 {
    justify-content: left;
  }

  .upcomingShow .showText h4 {
    font-size: 20px;
  }

  .upcomingShow .showText a {
    font-size: 15px;
  }

}

@media screen and (max-width: 910px) {
  .participation .participateBlog a {
    width: 340px;
  }
}

@media screen and (max-width: 786px) {

  .banner .bannerText a {
    width: 40%;
  }


  .infocast span {
    font-size: 15px;
  }

  .infocast p {
    font-size: 13px;
  }

  .infocast h3,
  .participation h3,
  .participation p,
  .overviewParaTech .overview h4 {
    font-size: 20px;
  }


  .participation .participateBlog a {
    width: 300px;
  }

  .upcomingShow .showText ul {
    flex-direction: column;
    align-items: center;
  }

  .upcomingShow .showText li {
    width: 80%;
  }


}

@media screen and (max-width: 690px) {
  .participation .participateBlog a {
    width: 250px;
  }
}

@media screen and (max-width: 580px) {
  .banner #paraBanner {
    height: 400px !important;
  }



  .banner .bannerText h2,
  .banner .bannerText ul {
    font-size: 20px;
  }

  .banner .bannerText h2 p {
    padding: 30px 0;
  }

  .banner .bannerText a {
    width: 60%;
    font-size: 12px;
  }

  .banner .bannerText a:hover {
    width: 80%;
  }

  .infocast h3,
  .infocast span {
    font-size: 15px;
  }

  .infocast #infocastLogo {
    width: 200px;
  }

  .marquee__content li:first-child,
  .overviewParaTech .overview h4 {
    font-size: 15px;
  }


  .participation .participateBlog a {
    width: 200px;
    font-size: 20px;
  }

  .joinPARA .joinPARAList p {
    font-size: 13px;
  }


}

@media screen and (max-width: 460px) {
  .participation .participateBlog a {
    width: 140px;
    font-size: 15px;
  }

  .participation #paraBlackLogo {
    width: 200px;
  }

  .upcomingShow .showText li {
    width: 90%;
  }

  .joinPARA .joinPARAHeading h3 {
    font-size: 25px;
  }
}



@media screen and (max-width: 320px) {



  .participation .participateBlog a {
    width: 100px;
  }

}

@media screen and (max-width: 285px) {



  .banner #paraBanner {
    height: 450px !important;
  }
}