.visitorProfile,
.visitBenefits,
.exhibitorProfile {
    background-color: #fff;
    color: #000;
}

/* visit profile start here===================== */

.visitorProfile h2,
.visitorSector h2,
.visitBenefits h2 {
    justify-content: left !important;
}

.visitorProfile h2,
.visitorSector h2,
.visitBenefits h2,
.exhibitorProfile h2 {
    justify-content: center;
    font-size: 40px;
    padding-bottom: 30px;
}

.visitorProfile .visitorProfileInfo ul,
.visitBenefits .visitBenefitsInfo,
.exhibitorProfile .exhibitorProfileInfo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.visitorProfile .visitorProfileInfo div {
    padding: 10px 0;
    line-height: 1.4;
    display: flex;
}

.visitorProfile .visitorProfileInfo div::before {
    content: "\f067";
    font-family: "fontAwesome";
    color: #00ff00;
    padding-right: 10px;
}

/* visit profile end here===================== */
.visitorSector .visitorSectorInfo {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.visitorSector .visitorSectorInfo div {
    width: 300px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.visitorSector .visitorSectorInfo span {
    padding: 5px;
    margin: 5px;
    display: block;
}

.visitorSector .visitorSectorInfo div::before {
    content: '\f123';
    color: #005c00;
    font-size: 15px;
    font-family: 'fontAwesome';
}

/* visit profile end here===================== */

/* visit benefits start here===================== */
.visitBenefits .visitBenefitsInfo div {
    padding: 5px 0;
    font-size: 18px;
    line-height: 1.6;
    display: flex;
}

.visitBenefits .visitBenefitsInfo div::before {
    content: "✔";
    color: #00ff00;
    padding-right: 10px;
}

/* visit benefits end here===================== */


/* visitor Registration start section ========================= */
.visitorRegistration h1 {
    font-size: 50px;
    animation: effect 2s linear infinite;
}

@keyframes effect {
    0% {
        color: darkcyan;
    }

    100% {
        color: darkblue;
    }
}

.visitorRegistration h2 {
    font-size: 40px;
}

.visitorRegistration p {
    font-size: 20px;
    padding: 5px 0;
}

.visitorRegistration .wrapper {
    display: flex;
    justify-content: space-between;
    line-height: 1.6;
}

.visitorRegistration .visitorHeading {
    width: 100% !important;
}

.visitorRegistration .visitorForm {
    width: 60%;
    padding: 20px 30px;
    margin: 20px;
    border: 1px solid #000;
}

.visitorRegistration .visitorForm h2 {
    font-size: 30px;
    padding-bottom: 20px;
}

.visitorRegistration .visitorForm form {
    display: grid;
}

.visitorRegistration .visitorForm div {
    display: grid;
    align-items: center;
    position: relative;
    margin: 10px 0;
}


.visitorRegistration .visitorForm div input,
.visitorRegistration .visitorForm select {
    padding: 10px 40px;
}

.visitorRegistration .visitorForm .mumbaiAttractions,
.visitorRegistration .visitorForm .hotelRoom {
    display: flex;
}

.visitorRegistration .visitorForm .mumbaiAttractions input[type="checkbox"],
.visitorRegistration .visitorForm .hotelRoom input[type="checkbox"] {
    margin-right: 10px;
}

.visitorForm div::before {
    position: absolute;
    font-family: "fontAwesome";
    text-indent: 0;
    padding: 10px;
    font-size: 20px;
}

.visitorForm .visitorName::before {
    content: "\f007";
}

.visitorForm .visitorDesignation::before {
    content: "\f044";
}

.visitorForm .visitorCompany::before {
    content: "\f0f7";
}

.visitorForm .visitorEmail::before {
    content: "\f0e0";
}

.visitorForm .visitorMobile::before {
    content: "\f098";
}

.visitorForm .visitorIndustry::before {
    content: "\f275";
}

.visitorForm .visitorJobDescription::before {
    content: "\f2c3";
}

.visitorRegistration .visitorForm span,
.visitorRegistration .visitorForm input,
.visitorRegistration .visitorForm option {
    font-size: 12px;
    align-items: center;
}

#visitorSubmit {
    background-color: #005c00;
    border: transparent;
    color: #fff;
    padding: 10px 0;
    font-weight: bold;
    font-size: 18px;
}



#visitorSubmit:hover {
    background-color: #008000;
}

/* visitor Registration section end here========================== */

/* exhibitor Profile start here================================= */

.exhibitorProfile .exhibitorProfileInfo h3 {
    padding: 20px;
    margin: 10px;
    width: 280px;
    justify-content: space-between;
}

.exhibitorProfile .exhibitorProfileInfo div {
    align-items: center;
    display: flex;

}

.exhibitorProfile .exhibitorProfileInfo div::before {
    content: "\f005";
    color: green;
    font-family: "fontAwesome";


}


@media screen and (max-width: 1115px) {

    .visitorRegistration .wrapper {
        flex-direction: column;
    }
}

@media screen and (max-width: 900px) {
    .visitorRegistration .visitorForm {

        width: 100% !important;
        margin: 10px 0;
    }
}


@media screen and (max-width: 786px) {
    .visitorRegistration h1 {
        font-size: 35px;
    }

    .visitorForm h2 {
        font-size: 20px !important;
    }

    .visitorRegistration p {
        font-size: 15px;
    }
}

@media screen and (max-width: 580px) {

    .visitorRegistration .visitorForm select {
        width: 100%;
    }
}